/cache/*
!/cache/.htaccess
!/cache/index.html
/img/avatars/*
!/img/avatars/index.html
/img/members/*
!/img/members/.htaccess
!/img/members/nofile.gif
/img/smilies/*
!/img/smilies/index.html
!/img/smilies/big_smile.png
!/img/smilies/cool.png
!/img/smilies/hmm.png
!/img/smilies/lol.png
!/img/smilies/mad.png
!/img/smilies/neutral.png
!/img/smilies/roll.png
!/img/smilies/sad.png
!/img/smilies/smile.png
!/img/smilies/tongue.png
!/img/smilies/wink.png
!/img/smilies/yikes.png
/include/config.php
