/***************************
New Private Messaging System
***************************/

#punpmsnew .pagepost {
	overflow: hidden;
}

#punpmsnew .block .blockpost dt {
	display: block;
	position: absolute;
	padding: 0.538em 0 0.538em 12px;
	height: 1.462em;
	top: -2.615em;
	left: 0;
	overflow: hidden;
	width: 206px;
}

#punpmsnew .psmnwarn {
	border-style: solid;
	border-width: 0 0 0 3px;
	border-color: #e99;
	margin: 0.75em 1em 0em 2em;
	padding: 0 0.75em;
}

#punpmsnew .psmnwarn:before {
	content: "!";
	position: absolute;
	margin-left: -2em;
	font-size: 150%;
	font-weight: bold;
	color: #e99;
}

#punpmsnew .tce {
	width: 20px;
	padding: 3px;
}

#punpmsnew .tce input {
	margin: 0px 0px 0px 0px;
}