.reminder {
	display: block;
	position: fixed;
	border: 2px solid black;
	visibility: visible;
	background-color: white;
	width: 350px;
	margin-left: -175px;
	left: 50%;
	top: 100px;
}

.remhandle {
	padding: 1px;
	text-indent: 3px;
	font: bold 14px Arial, Helvetica, sans-serif;
	background-color: #CA0000;
	color: white;
	overflow: hidden;
	width: auto;
	filter:progid:DXImageTransform.Microsoft.alpha(opacity=100);
	-moz-opacity: 1;
	opacity: 1;
}

.remhandle .remcontrols {
	position: absolute;
	right: 1px;
	top: 2px;
	cursor: hand;
	cursor: pointer;
}

* html .remhandle {
	width: 100%;
}


.remcontent {
	font: 81.25%/1.462em Arial, Helvetica, sans-serif;
	display: block;
	border-top: 1px solid brown;
	background-color: white;
	color: black;
	height: 150px;
	padding: 2px;
	overflow: hidden;
}
